<div style="margin-bottom: 10px; width:90%;">
  <mat-card (click)="onStartBook()">
    <div class="imageAndInfoWrapper">
      <div class="imageWrapper">
        <img src="assets/bellagio.jpg" alt="">
      </div>
      <div class="infoWrapper">

            <h2 style="white-space: nowrap">
              {{hotelElement.name}}
            </h2>

        <div class="row">
          <div class="col" *ngIf="true">
            <p>
              Price (standard): ${{hotelElement.price.standard }}
            </p>

          </div>
          <div class="col">
            <p>
              Price (queen): ${{hotelElement.price.queen}}
            </p>

          </div>
          <div class="col" *ngIf="hotelElement.price.king">
            <p>
              Price (king): ${{hotelElement.price.king}}
            </p>
          </div>
        </div>
        <div class="row">

          <div class="col">
            <p>
              Weekend Surcharge: {{hotelElement.price.weekendSurcharge * 100}}%
            </p>
          </div>
        </div>
        <p class="amenityList">
          Amenities:
          <span *ngFor="let amenity of hotelElement.amenities">
            {{amenity}}
          </span>
        </p>
      </div>

    </div>

  </mat-card>

</div>
