<div style="margin-bottom: 10px; width:80%;">
  <mat-card>
    <div>
      <h2>
        {{hotelElement.name}}
      </h2>
      <p>
        Location: {{hotelElement.location}}
      </p>
      <p>
        Price (weekday): ${{hotelElement.pricePerNightWeekday}}
      </p>
      <p>
        Price (weekend): ${{hotelElement.pricePerNightWeekend}}
      </p>
      <p>
        Amenities:
        <span *ngFor="let amenity of hotelElement.amenities">
          {{amenity}}
        </span>
      </p>
    </div>

  </mat-card>

</div>
