<button mat-mini-fab color="accent" (click)="showFilter = !showFilter" style="position: sticky; top: 0%; right: 0%;">
  <!-- <mat-icon>filter_list</mat-icon> -->
  <mat-icon>search</mat-icon>

</button>
<mat-card class="filterForm" *ngIf="showFilter">
  <h3>Filter</h3>
  <form (submit)="onFilter()" [formGroup]="form">
    <mat-form-field  style="width: 100%">
      <input type="text"
        matInput
        formControlName="hotelName"
        placeholder="Hotel Name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Bed Choice</mat-label>
      <mat-select formControlName="selectedBed">
        <mat-option *ngFor="let bedOption of bedOptions" [value]="bedOption">{{bedOption}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <p style="">Weekday Price Per Night</p> -->
    <!-- <div>
      <button mat-raised-button (click)="showWeekdaySlider = !showWeekdaySlider" color="accent">Weekday Price</button>
      <ngx-slider *ngIf="showWeekdaySlider" [options]="priceSliderOptions" formControlName="weekdayPrice"></ngx-slider>
    </div> -->

    <!-- <p style="">Weeknight Price Per Night</p> -->
    <div style="margin-top: 10px;">
      <button mat-raised-button (click)="showWeekendSlider = !showWeekendSlider" color="accent" type="button">Price Filter</button>
      <div class="pricingFilter" *ngIf="showWeekendSlider">
        <mat-checkbox color="primary" formControlName="weekendPricingCheckbox">Weekend Pricing</mat-checkbox>
        <ngx-slider [options]="priceSliderOptions" formControlName="weekendPrice"></ngx-slider>

      </div>

    </div>


    <!-- <mat-form-field>
      <mat-select placeholder="Amenities">
        <mat-option *ngFor="let amenity of amenities; let i = index" [value]="amenity">
          <mat-checkbox [checked]="selected === i" (change)="onChange(amenity); selected = i"> {{amenity}} </mat-checkbox>
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <mat-form-field>
      <mat-label>Amenities</mat-label>
      <mat-select formControlName="selectedAmenities" multiple>
        <mat-option *ngFor="let amenity of amenities" [value]="amenity">{{amenity}}</mat-option>
      </mat-select>
    </mat-form-field>


    <div class="bottomBottons">
      <button class="btn btn-success" style="margin-right: 10px;" type="submit">Apply</button>
      <button class="btn btn-warning" type="button" (click)="onClearForm()">Clear</button>
    </div>

  </form>
</mat-card>
