<!--
<div class="row">
  <div class="col-md-8">
    <app-hotel-list></app-hotel-list>

  </div>
  <div class="col-md-4">
    <app-filter></app-filter>

  </div>


</div> -->


<div class="row">
  <div class="col-md-8 hotelList" style="margin-left: 0;">
    <app-hotel-list></app-hotel-list>

  </div>
  <div class="col-md-3" style="padding-top: 25px; positon: stick; top: 0">
    <button mat-mini-fab color="accent" (click)="showFilter = !showFilter">
      <!-- <mat-icon>filter_list</mat-icon> -->
      <mat-icon>search</mat-icon>

    </button>
    <app-filter *ngIf="showFilter"></app-filter>

  </div>
  <div >
  </div>


</div>
