<!--
<div class="row">
  <div class="col-md-8">
    <app-hotel-list></app-hotel-list>

  </div>
  <div class="col-md-4">
    <app-filter></app-filter>

  </div>


</div> -->


<!-- <div class="row">
  <div class="col-md-8 hotelList" style="margin-left: 0;">
    <app-hotel-list></app-hotel-list>

  </div>
  <div class="col-md-4" style="padding-top: 25px; positon: stick; top: 0; width: min-content;">



    <app-filter ></app-filter>

  </div>


</div> -->
<div style="width: 100%; display:flex; flex-direction: row;" >
  <app-hotel-list style="flex-grow: 1;"></app-hotel-list>

  <app-filter style="width: min-content; position: sticky; right: 0; top: 5%; height: min-content;" ></app-filter>

</div>

<!-- <div class="row">
  <div class="col-md-10">
    <app-hotel-list></app-hotel-list>
  </div>
  <div class="col-md-2">
    <app-filter style="width: min-content; position: sticky; right: 0; top: 5%; height: min-content;"></app-filter>
  </div>
</div> -->
