.registerForm{
  width: 25%;
  margin: auto;
  min-width: 500px;
}
.registerForm mat-form-field {
  width: 100%;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
  margin-top: 10px;
}
